<!DOCTYPE html>

<html>
	<head>
		{% load static %}
		<title>SitnShop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="scriptes.js"></script>
		<link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" >
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="https://fonts.googleapis.com/css?family=Aclonica" rel='stylesheet'>
	</head>

	<body>

		<div class="navbar">
  			<a href="index.html" style="float: left;font-family: 'Aclonica';"><i class="fa fa-fw fa-home"></i><h3> SitnShop</h3></a> 
  			<a href="#"><i class="fa fa-fw fa-envelope"></i><h3> Contact</h3></a> 
  			<a href="login_page.html"><i class="fa fa-fw fa-user"></i><h3> Login</h3></a>
  			<div class="search-container">
    			<form action="/action_page.php">
    				<button type="submit"><i class="fa fa-search"></i></button>
      				<input type="text" placeholder="Search" name="search">
      				
    			</form>
  			</div>

  		</div>

		{% load el_pagination_tags %}
		{% with entry_list as e %}
			{% lazy_paginate e %}


  		{% for entry in entries %}
  		<div class="content">

  			<img class="avatar" src="Images/s1.jpg" alt="dp">
  			<h1>&nbsp&nbsp {{ entry }} </h1>
  			<hr style="background-color:rgb(232,232,232);border: 0;height: 3px">
  			<img class="post" src="{% static 'Images/s1a1.jpg' %}" alt="dp">
  		</div>

		{% endfor %}
		{% show_more %}

		{%endwith %}
  		

	</body>
</html>
